<footer>
    <section class="container-footer">
        <div class="logo-redes">
            <div class="logo">
                <img src="../../../assets/logo2_sol.png" alt="logo sol">
                <h1>Sunny Lenses</h1>
            </div>

            <div class="redes">
                <h3> FOLLOW US </h3>
                <img src="../../../assets/redes1.png" alt="logo twitter">
                <img src="../../../assets/redes2.png" alt="logo snaptchap">
                <img src="../../../assets/redes3.png" alt="logo facebook">
            </div>
        </div>
        
        <div class="columnas-footer">
            <div class="ubicaciones">
                <div class="florida">
                    <h2>FLORIDA LOCATION</h2>
                    <p>4758 Holt Street <br> Boca Raton, FL 33487 <br> <br> (785) 6894223</p>
                </div>
                <div class="california">
                    <h2>CALIFORNIA LOCATION</h2>
                    <p>2659 pike Street <br> San Diego,Ca 92103 <br> <br> (785) 6894223</p>
                </div>

                <div class="texas">
                    <h2>TEXAS LOCATION</h2>
                    <p>1731 Weeklñey Street <br> San Antonio,TX 78205 <br> <br> (785) 6894444</p>
                
                </div>
            
            <div class="about">
                <div class="columna-about">
                    <div class="home">
                        <p> Home <br> Frames <br> Lenses <br> Pricing <br> Review <br> Location</p>
    
                    </div>

                    <div class ="careers">
                        <p> About us <br> Careers <br> Order Status <br> Delivery <br> returns <br> Faqs <br> contact Us</p>
                    </div>
                </div>
            </div>
            </div>
        
        <div class="derechos">
            <div class="sunny">
                <h4>2033 Sunny Lenses.All Rights Reserved</h4>
            </div>

            <div class="privacy">
                <h4>privacy & security | Terms and Conditions</h4>
            </div>
        </div>
        </div>
        


    </section>
