<section class="container-design">
    <div class="contenedor-elementos">
        <img src="../../../assets/hombre-con-gafas.jpg" alt="imagen hombre con gafas">

        <div class="contenedor-texto">
            <h3> DESIGNED BY YOU </h3>
            <h1>Individual style</h1>
            <p>Like a bespoke uit or couture dress,exceptional <br> style starts with fit that was made just
                for you.We <br> craft your glasses based to your distinct stylistic <br> choices and your
                personal preferenses, so you're <br> free to truly express yourself.</p>
        </div>


    </div>
    

</section>
