<section class="benefits">
    <div class="titulos-benefits">
        <h3>HOW IT WORKS</h3>
        <h1>This is the future of <br> premium eyewear</h1>
    </div>

    <div class="container-benefits">
        <div class="benefit1">
            <img src="../../../assets/rostro-logo.png" alt="icono1">
            <h2>Measure for you</h2>
            <p>Use our iOS app to scan <br> your face and capture over <br> 20.000 3D measurement</p>
        </div>
        <div class="benefit2">
            <img src="../../../assets/lapiz-logo.png" alt="icono1">
            <h2 class="measured">Designed by you</h2>
            <p class="text">Select your style,choose your <br> color,fine-tune the shape,and <br> preview it
                with our virtual try-on</p>
        </div>
        <div class="benefit3">
            <img src="../../../assets/gafas-logo.png" alt="icono1">
            <h2 class="measured">Made from scratch</h2>
            <p class="text">Each pair is crafted for one <br> person at a time from the highest <br> quality
                acetate and metal </p>
        </div>
        <div class="benefit4">
            <img src="../../../assets/estrella-logo.png" alt="icono1">
            <h2 class="measured">Perfect, guaranteed</h2>
            <p class="text">we guarantee your sunny <br> lenses will fit perfectly <br> look great and feel
                amazing </p>
        </div>
    </div>

</section>
