<section class="menu-explore">
    <div class="tarjeta">
        <div class="contenedor-titulo">
            <h4 class="titulo-tarjeta ">FIND A <br> LOCATION</h4>
        </div>
        <img class="imagen-central" src="../../../assets/logo_flecha.png" alt="">
        <div class="contenedor-vinculo">
            <h4 class="vinculo-tarjeta">Learn more</h4>
            <img class="flecha-logo" src="../../../assets/flecha_siguiente.png" alt="">
        </div>
    </div>
    <div class="tarjeta">
        <div class="contenedor-titulo">
            <h4 class="titulo-tarjeta ">BROWSE OUR <br>FRAME STYLES</h4>
        </div>
        <img class="imagen-central" src="../../../assets/logo_gafas.png" alt="">
        <div class="contenedor-vinculo">
            <h4 class="vinculo-tarjeta">Explore frames</h4>
            <img class="flecha-logo" src="../../../assets/flecha_siguiente.png" alt="">
        </div>
    </div>
    <div class="tarjeta">
        <div class="contenedor-titulo">
            <h4 class="titulo-tarjeta ">EXPLORE OUR <br>LENS OPTIONS</h4>
        </div>
        <img class="imagen-central" src="../../../assets/logo_gafas.png" alt="">
        <div class="contenedor-vinculo">
            <h4 class="vinculo-tarjeta">Explore lenses</h4>
            <img class="flecha-logo" src="../../../assets/flecha_siguiente.png" alt="">
        </div>
    </div>
</section>
